<%- include('../partials/head') %>
<link rel="stylesheet" href="/css/product-form.css">
<%- include('../partials/header') %>
</head>
<body>
    <div class="creation-intro">
        <h2>¡Crea un nuevo producto y expande nuestro catálogo!</h2>
        <p>Aquí podrás agregar un nuevo producto a nuestra tienda. Completa los campos necesarios con la información del producto, incluyendo el nombre, la descripción, el precio y una imagen atractiva. Asegúrate de que todos los detalles sean correctos para ofrecer a nuestros clientes la mejor experiencia de compra posible. ¡Estamos emocionados de ver qué nuevos productos agregarás!</p>
    </div>

    <form class="principal-form" action="/products" method="POST" enctype="multipart/form-data">
        <label for="name">Nombre del Producto:</label>
        <input class="input" type="text" id="name" name="name" required>
        <% if (errorMessages.name) { %>
            <div class="error-message" style="color: red;"><%= errorMessages.name %></div>
        <% } %>

        <label for="description">Descripción:</label>
        <textarea id="description" name="description" required></textarea>
        <% if (errorMessages.description) { %>
            <div class="error-message" style="color: red;"><%= errorMessages.description %></div>
        <% } %>

        <label for="category">Categoría:</label>
        <select id="category" name="categoryId" required>
            <% categories.forEach(category => { %>
                <option value="<%= category.id %>"><%= category.name %></option>
            <% }) %>
        </select>
        <% if (errorMessages.category) { %>
            <div class="error-message" style="color: red;"><%= errorMessages.category %></div>
        <% } %>

        <label for="image">Imagen:</label>
        <input type="file" name="image" required> 
        <% if (errorMessages.image) { %>
            <div class="error-message" style="color: red;"><%= errorMessages.image %></div>
        <% } %>

        <label for="price">Precio:</label>
        <input class="input" type="number" id="price" name="price" step="0.01" required>
        <% if (errorMessages.price) { %>
            <div class="error-message" style="color: red;"><%= errorMessages.price %></div>
        <% } %>

        <button type="submit">Crear Producto</button>
        <a class="volver" href="/products">Volver</a>
    </form>
    <%- include('../partials/footer') %>
</body>
</html>
