<%- include('../partials/head') %>

<link rel="stylesheet" href="/css/auth.css">
</head>

<%- include('../partials/header') %>

<body>

<div class="mensaje-intro">
    <h1>¡Nos alegra verte de nuevo!</h1>
    <p>Inicia sesión para continuar disfrutando de todo lo que tenemos para ti. ¡Es momento de retomar donde lo dejaste y seguir descubriendo lo mejor!<br>¡Estamos felices de tenerte de vuelta!</p>
</div>

<div class="container">
    <h2>Iniciar Sesión</h2>

    <!-- Mostrar mensaje de éxito si existe -->
    <% if (successMessage) { %>
        <div class="success-message">
            <p><%= successMessage %></p>
        </div>
    <% } %>

    <!-- Mostrar mensaje de error si existe -->
    <% if (errorMessage) { %>
        <div class="error-message">
            <p><%= errorMessage %></p>
        </div>
    <% } %>

    <form id="loginForm" action="/users/login" method="POST">
        <input class="input" 
               type="email" 
               name="email" 
               placeholder="Correo electrónico" 
               value="<%= email ? email : '' %>" 
               required>
        <div class="error-message" id="emailError"></div>
        <input class="input" 
               type="password" 
               name="password" 
               placeholder="Contraseña" 
               required>
        <div class="error-message" id="passwordError"></div>
        <label>
            <input type="checkbox" name="rememberMe"> Recordarme
        </label>
        <button class="btn-inicio" type="submit">Iniciar sesión</button>
    </form>

    <!-- Mensaje para invitar a registrarse -->
    <p>¿No tienes una cuenta? <a href="/users/register">Regístrate aquí</a></p>
</div>

<%- include('../partials/footer') %>

</body>
</html>
