<%- include('partials/head') %>
<link rel="stylesheet" href="/css/productCart.css">
</head>

<body>
    <%- include('partials/header') %>
<div class="mensaje-intro">
    <h1>¡Bienvenido a tu Carrito de Compras!</h1>
    <p>Aquí puedes revisar los productos que has seleccionado.</p>
</div>
    
    <div class="cart-container">
        <% if (cart.length > 0) { %>
            <ul>
                <% cart.forEach(item => { %>
                    <li class="cart-item">
                        <img src="<%= item.product.imageUrl %>" alt="<%= item.product.name %>" class="cart-item-image">
                        <div class="cart-item-details">
                            <strong><%= item.product.name %></strong>
                            <p>Precio: $<%= Number(item.product.price).toFixed(2) %></p>
                            
                                <label for="quantity">Cantidad:</label>
                                <div class="cantidad-wrapper">
                                    <button type="button" class="cantidad-btn minus" onclick="decreaseQuantity(this)">-</button>
                                    <input class="cantidad-input" type="number" name="quantity" value="<%= item.quantity %>" min="1" required onchange="updateTotal()" data-product-id="<%= item.id %>">
                                    <button type="button" class="cantidad-btn plus" onclick="increaseQuantity(this)">+</button>
                                </div>

                            <form action="/cart/remove" method="POST" class="remove-form">
                                <input type="hidden" name="productId" value="<%= item.product.id %>">
                                <button class="btn-delete" type="submit">Eliminar</button>
                            </form>
                        </div>
                    </li>
                <% }) %>
            </ul>
            <form action="/cart/clear" method="POST" class="clear-cart-form">
                <button class="clear" type="submit">Vaciar carrito</button>
            </form>

            <% 
                // Calcular total de productos
                const total = cart.reduce((sum, item) => sum + (Number(item.product.price) * item.quantity), 0); 
                const itbms = total * 0.07; 
                const grandTotal = total + itbms; 
            %>
            
            <div class="cart-summary">
                <h2>Total a pagar</h2>
                <div id="total">Subtotal: $<%= total.toFixed(2) %></div>
                <div id="itbms">ITBMS (7%): $<%= itbms.toFixed(2) %></div>
                <div id="grand-total"><strong>Total: $<%= grandTotal.toFixed(2) %></strong></div>
                <button class="checkout-btn">Pagar</button>
            </div>

        <% } else { %>
            <p class="carrito-vacio">Tu carrito está vacío,
                <br>añade productos.
            </p>
        <% } %>
    </div>

    <%- include('partials/footer') %>

    <script src="/javascripts/cart.js"></script>
</body>
