<%- include('../partials/head') %>

    <link rel="stylesheet" href="/css/auth.css">
</head>

<%- include('../partials/header') %>

<body>

<div class="mensaje-intro">
<h1>¡Nos alegra verte de nuevo! </h1>
<p>Inicia sesión para continuar disfrutando de todo lo que tenemos para ti. ¡Es momento de retomar donde lo dejaste y seguir descubriendo lo mejor!
<br>¡Estamos felices de tenerte de vuelta!  </p>
</div>

    <div class="container">
        <h2>Iniciar Sesión</h2>

        <!-- Mostrar mensaje de error si existe -->
        <% if (errorMessage) { %>
            <div class="error-message">
                <p><%= errorMessage %></p>
            </div>
        <% } %>

        <form action="/users/login" method="POST">
            <input class="input" 
                   type="email" 
                   name="email" 
                   placeholder="Correo" 
                   value="<%= email ? email : '' %>" 
                   required>
            <input class="input" 
                   type="password" 
                   name="password" 
                   placeholder="Contraseña" 
                   required>
                   <label>
                    <input type="checkbox" name="remembe rMe"> Recordarme
                </label>
            <button class="btn-inicio" type="submit">Iniciar sesión</button>
        </form>
    </div>

    <%- include('../partials/footer') %>

</body>
</html>