<%- include('../partials/head') %>

    <link rel="stylesheet" href="/css/auth.css">
</head>

<%- include('../partials/header') %>

<body>
    <div class="container">
        <h1>Iniciar Sesión</h1>

        <!-- Mostrar mensaje de error si existe -->
        <% if (errorMessage) { %>
            <div class="error-message">
                <p><%= errorMessage %></p>
            </div>
        <% } %>

        <form action="/users/login" method="POST">
            <input class="input" 
                   type="email" 
                   name="email" 
                   placeholder="Correo" 
                   value="<%= email ? email : '' %>" 
                   required>
            <input class="input" 
                   type="password" 
                   name="password" 
                   placeholder="Contraseña" 
                   required>
                   <label>
                    <input type="checkbox" name="remembe rMe"> Recordarme
                </label>
            <button class="btn-inicio" type="submit">Iniciar sesión</button>
        </form>
    </div>

    <%- include('../partials/footer') %>

</body>
</html>