<%- include('../partials/head') %>
<link rel="stylesheet" href="/css/profile.css">
<title>Perfil de Usuario</title>
</head>

<%- include('../partials/header') %>

<body>
  <div class="intro">
    <h2>¡Bienvenido a tu espacio personal!</h2>
    <p class="mensaje-intro">Aquí puedes ver tu información.</p> 
  </div>

  <div class="profile-container">
    <div class="profile-header">
      <% if (user.profileImageUrl) { %>
        <div class="profile-image-container">
          <img src="/images/profiles/<%= user.profileImageUrl %>" alt="Imagen de perfil" class="profile-image">
        </div>
      <% } else { %>
        <div class="profile-image-container">
          <img src="/images/default-profile.png" alt="Imagen de perfil" class="profile-image">
        </div>
      <% } %>
      
      <h1 class="profile-name"><%= user.name %></h1>
    </div>
    
    <div class="profile-info">
      <p><label>Email:</label> <%= user.email %></p>
      <p><label>País:</label> <%= user.country %></p>
      <p><label>Edad:</label> <%= user.age %></p>
    </div>
    
    <div class="profile-footer">
      <button id="update-btn" class="update-button">Actualizar Información</button>
      <button id="logout-btn" class="logout-button">Cerrar sesión</button>
      <div id="message" class="logout-message"></div>
    </div>
    
    <script>
      document.getElementById('logout-btn').addEventListener('click', () => {
        fetch('/users/logout', {
          method: 'POST',
        })
        .then(response => {
          if (response.ok) {
            document.getElementById('message').innerText = 'Sesión cerrada con éxito.'; // Muestra el mensaje de éxito
            setTimeout(() => {
              window.location.href = '/users/login'; // Redirige a la página de login o inicio después de 2 segundos
            }, 1000); 
          } else {
            throw new Error('Error al cerrar sesión');
          }
        })
        .catch(error => {
          console.error('Error:', error);
          document.getElementById('message').innerText = 'Hubo un error al cerrar sesión.';
        });
      });

      document.getElementById('update-btn').addEventListener('click', () => {
        window.location.href = '/users/update'; // Redirige a la página de actualización
      });
    </script>
  </div>

  <%- include('../partials/footer') %>

</body>
</html>
