<%- include('../partials/head') %>

<link rel="stylesheet" href="/css/product-form.css">

<%- include('../partials/header') %>
</head>
<body>
    <div class="edit-intro">
        <h2>Actualiza los detalles de tu producto y mantén nuestro catálogo al día</h2>
        <p>En esta sección podrás modificar la información de un producto existente en nuestra tienda. Actualiza los campos necesarios, como el nombre, la descripción, el precio, la imagen y la categoría, para asegurarte de que la información sea precisa y actual. ¡Gracias por tu esfuerzo en mantener nuestra oferta siempre relevante y atractiva!</p>
    </div>

    <form class="principal-form" action="/products/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <!-- Campo oculto para permitir el método PUT -->
        <input type="hidden" name="_method" value="PUT">

        <!-- Campo de nombre -->
        <label for="name">Nombre del Producto:</label>
        <input class="input" type="text" id="name" name="name" value="<%= product.name %>" required>

        <!-- Campo de descripción -->
        <label for="description">Descripción:</label>
        <textarea id="description" name="description" required><%= product.description %></textarea>

        <!-- Campo de categoría -->
        <label for="category">Categoría:</label>
        <select id="category" name="categoryId" required>
            <% categories.forEach(category => { %>
                <option value="<%= category.id %>" <%= product.categoryId === category.id ? 'selected' : '' %>><%= category.name %></option>
            <% }) %>
        </select>

        <!-- Campo para subir imagen -->
        <label for="image">Imagen:</label>
        <input class="input" type="file" id="image" name="image" accept="image/*">
        <% if (product.imageUrl) { %>
            <div class="current-image">
                <p>Imagen actual:</p>
                <img src="/images/uploads<%= product.imageUrl %>" alt="Imagen actual" style="max-width: 200px;">
            </div>
        <% } %>

        <label for="price">Precio:</label>
        <input class="input" type="number" id="price" name="price" step="0.01" value="<%= product.price %>" required>

        <div class="form-actions">
            <button type="submit" class="btn-update">Actualizar Producto</button>
                <form action="/products/<%= product.id %>?_method=DELETE" method="POST" style="display:inline;">
                    <button type="submit" class="btn-delete">Eliminar Producto</button>
                    <a class="volver" href="/products">Volver</a>
                </form>
        </div>
    </form>

    <%- include('../partials/footer') %>
</body>
</html>
