<%- include('../partials/head') %>
<link rel="stylesheet" href="/css/productList.css">
</head>

<body>
    <%- include('../partials/header') %>

    <div>
        <img class="banner" src="/images/Banner.png" alt="banner">
    </div>

    <p class="p-principal">
        Explora nuestro catálogo de libros y encuentra historias que despiertan la imaginación.
        Desde épicas aventuras hasta mágicas leyendas, hay un libro esperando por ti.
    </p>

    <main>
        <div class="product-list">
            <% products.forEach(product => { %>
                <div class="product">
                    <h3><%= product.name %></h3>
                    
                    <% if (product.imageUrl) { %>
                        <img class="product-img" src="<%= product.imageUrl %>" alt="<%= product.name %>">
                    <% } else { %>
                        <p>No hay imagen disponible para este producto.</p>
                    <% } %>

                    <p>Price: $<%= product.price %></p>
                    <a href="/products/<%= product.id %>">Ver detalles</a>
                    <a href="/products/edit/<%= product.id %>">Editar</a>

                    <form action="/products/<%= product.id %>?_method=DELETE" method="POST" style="display:inline;">
                     <button class="btn-delete"  type="submit" onclick="return confirm('¿Estás seguro de que quieres eliminar este producto?');">Eliminar</button>
                   </form>
                </div>
            <% }) %>
        </div>
    </main>

    <%- include('../partials/footer') %>
</body>

</html>
